@import '../../styles/variables';
.layout{
    margin:2rem auto;
    max-width:60rem;
    background: white;
    z-index:1;
    &:before{
        content:"";
        display:block;
        position: fixed;
        pointer-events: none;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:gray;
        z-index:-1;
    }
    @include breakpoint('sm'){
        margin:0 auto;
        &:before{
            z-index:2;
            background:none;
            border:8px solid gray;
        }
    }
}
