@import '../style/variables';
.menu{
    margin:0 0 2rem;
}
.section{}
.heading{
    margin:0;
    padding:0;
    font-family: $fontHeading;
    font-size:$fontSizeHeading1;
    font-weight:normal;
    letter-spacing:0.2em;
    text-transform: uppercase;
}
.description{
    margin:0 0 0.5rem;
    padding:0 0 0.5rem;
    font-family: $fontBody;
    color:$colorBlue;
    font-size:$fontSizeBody2;
    line-height:1.3rem;
}
.suhead{
    margin:1rem 0 0.5rem;
    text-transform: uppercase;
}
.columnHeadings{}
.slimDivide{
    width:auto;
    height:0.2rem;
}