@import '../style/variables';

.section{}
.heading{
    font-family: $fontHeading;
    font-weight:normal;
    letter-spacing:0.3em;
    text-transform: uppercase;
}
.description{
    font-family: $fontBody;
    color:$colorBlue;
}
.table{
    margin:12px 0 0;
    font-family: $fontBody;
}