@import '../../styles/variables';
.container{
    position: relative;
    margin:0 $heroOffset;
    max-width:$heroWidth;
    width:175%;
    overflow: hidden;
    height:0;
    padding-top:($heroWidth * 0.4255);
    @include breakpoint('lg'){
        width:100%;
        margin-left:0;
        margin-right:0;
    }
    img{
        top:0;
        position: absolute;
    }
}
