@import './fonts.scss';

$mainWidth:60rem;
$heroWidth:80rem;
$heroOffset:($mainWidth - $heroWidth)/2;

$breakpoints: (
  sm:(min:320px, max:479px),
  md:(min:480px, max:639px),
  lg:(min:640px, max:1023px),
  xl:(min:1024px, max:1365px),
  xx:(min:1920px, max:null)
);

@mixin breakpoint($bp){
    $bpstring:'screen';
    $bpmin:null;
    $bpmax:null;
    @if type-of($bp) == 'string' {
        @if map-has-key($breakpoints, $bp) {
            $bparr: map-get($breakpoints, $bp);
            $bpmin: map-get($bparr,'min');
            $bpmax: map-get($bparr,'max');
            @if $bpmin != null { $bpstring: $bpstring + ' and (min-width: #{$bpmin})' }
            @if $bpmax != null { $bpstring: $bpstring + ' and (max-width: #{$bpmax})' }
        }
        @else{
            $bpstring: $bpstring+ " and (#{$bp})";
        }
    }
    @media #{$bpstring} {
        @content;
    }
}

$fontBody: 'Roboto', sans-serif;
$fontMono: 'B612 Mono', monospace;
$fontHeading: 'Roboto', sans-serif;