@import '../style/variables';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body{
  margin:0;
  padding:0;
  background:$colorYellow;
}
body{
  font-size:$fontSizeBase;
  font-family:$fontBody;
  color:$colorBlue;
  &:before{
    position: fixed;
    content:"";
    height:100vh;
    width:100vw;
    border-width:1rem;
    border-style:solid;
    border-color:$colorYellow;
    z-index: 2;
    pointer-events: none;
    @include breakpoint('max-width:1023px'){
      border-width:0.5rem;
    }
  }
}
.layout{
    position: relative;
    margin:0 auto;
    padding:0;
    z-index:1;
    font-family:$fontBody;
    background:white;
    &:before, &:after{
      position:fixed;
      top:0;
      content:" ";
      height:100vh;
      background-repeat: repeat-y;
      background-size:400px;
      width:320px;
      overflow: hidden;
      z-index:-1;
    }
    &:before{
      left:0;
      background-image:url(../../assets/background-left.png);
      background-position:-80px 0;
    }
    &:after{
      right:0;
      background-image:url(../../assets/background-right.png);
      background-position:0 0;
    }
    @include breakpoint('max-width:1023px'){
      &:before, &:after{
        position: fixed;
        background-size:50vw;
        width:50vw;
        opacity:0.2;
      }
      &:before{
        background-position:0;
      }
      &:after{
        left:50vw;
        right:auto;
      }
    }
}
