@import '../style/variables';
.header{
    padding:4rem 0 1rem;
}
.center{
    padding:0 4rem;
}
.left,.right{
    padding:0.25rem 0 0;
    position: relative;
}
.left{
    >div{
        position: absolute;
        right:0;
    }
}
.right{
    >div{
        position: absolute;
        left:0;
    }
}
.link{
    position: relative;
    margin:0.3em;
    padding:0 3rem;
    color:$colorBlue;
    text-align: center;
    font-family: $fontHeading;
    display: block;
    font-size:($fontSizeBase * 0.8);
    letter-spacing: 0.3em;
    text-decoration: none;
    text-transform: uppercase;
    width:100%;
    &:before{
        position: absolute;
        left:50%;
        margin-left:-4.5rem;
        top:0.4rem;
        content:"";
        height:0.9rem;
        width:0;
        background:$colorYellow;
        z-index:-1;
        transform: rotate(-1deg);
        transition: all 100ms;
    }
}
.link:hover,.active{
    &:before{width:9rem;}
}
@include breakpoint('max-width:1023px'){
    .header{
        margin:0;
        width:100%;
    }
}
@include breakpoint('max-width:640px'){
    .header{
        padding:3rem 0 0;
    }
    .left,.right{
        display: block;
        padding:0;
        >div{
            position: relative;
            left:auto;
            right:auto;
            width:100%;
        }
    }
    .left{
        order:2;
    }
    .center{
        order:1;
        display: block;
        padding-bottom:1rem;
    }
    .right{
        order:3;
    }
}
