@import '../style/variables';
.header{
    padding:3rem 0 1rem;
}
.center{
    padding:0 4rem;
}
.left,.right{
    padding:0.25rem 0 0;
    position: relative;
}
.link{
    margin:0.3em;
    padding:0 3rem;
    color:$colorBlue;
    text-align: center;
    font-family: $fontHeading;
    display: block;
    font-size:($fontSizeBase * 0.8);
    letter-spacing: 0.3em;
    text-decoration: none;
    text-transform: uppercase;
    width:100%;
    &:hover{
        background:$colorYellow;
    }
}
@include breakpoint('max-width:1023px'){
    .header{
        margin:0;
        width:100%;
    }
}
@include breakpoint('sm'){
    .left{
        order:2;
        display: block;
    }
    .center{
        order:1;
        display: block;
    }
    .right{
        order:3;
        display: block;
    }
}
