@import '../style/variables';

.intro{
    margin:0 auto;
    .section{
        padding:1rem 0;
    }
    .subsection{
        padding:0.1rem 0;
    }
    .heading{
        margin:0;
        font-family: $fontHeading;
        font-weight: normal;
        font-size:$fontSizeHeading3;
        text-transform: uppercase;
        text-align: center;
        letter-spacing:0.4em;
        @include breakpoint('max-width:375px'){
            font-size:20px;
            letter-spacing:0.2em;
        }
    }
    .body{
        font-family: $fontBody;
        font-weight: normal;
        font-size:$fontSizeBase;
        line-height: 1.5em;
        text-align: center;
    }
    a,a:visited,a:active{
        color:$colorBlue;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}
@include breakpoint('max-width:640px'){
    .hideMdDown{
        display:none;
    }
}