@import '../style/variables';

.footer{
    &:before,&:after{
        position:fixed;
        top:2.75rem;
        content:"";
        height:120px;
        width:120px;
        background-size:90px;
        background-image:url(../../assets/family-owned.svg);
        background-repeat: no-repeat;
        z-index:-1;
    }
    &:before{
        left:3rem;
    }
    &:after{
        right:3rem;
    }
    @include breakpoint('max-width:1200px'){
        display: none;
    }
}